.iconImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.doubleIconImage {
  width: 200px;
  height: 100px;
}

@media only screen and (max-device-width: 480px) {
  .instagram {
    display: none;
  }
}
